{% extends "layouts/master.twig" %}
{% block bodyClass %}game{% endblock %}
{% block content %}
    <div class="game_container">
        <div class="menu_container">
            <img src="http://cdn2.trictrac.net/documents/formats/dynamic/fa/c0/01f57e520baa35836c6cc8db52356fcb/documents/originals/86/15/9b65092f3d01c66b622768c6950a4b722019.png">
        </div>
        <div class="game_content">
            <div class="player_list">
                {% include 'partials/playerList.twig' with {mediums : infos.mediums} %}
            </div>

            <div class="card_selected">
                <div class="card_selected_content">
                    <img src="/images/cards/{{ infos.mediums[0].cards[0] }}.png">
                </div>
            </div>

            <div class="cards_hand">
                <div class="cards_hand_detail">
                    <img src="/images/cards/{{ infos.hand[0] }}.png">
                </div>

                <div class="cards_hand_list">
                    {% include 'partials/playerHand.twig' %}
                </div>
            </div>
        </div>
        <div class="game_plateau">
            {% include 'partials/playerBoard.twig' with {cards : infos.mediums[0].cards} %}
        </div>
    </div>
{% include 'partials/chat.twig' %}
{% endblock %}


{% block scripts %}
    <script src="/js/client_chat.js"></script>
    <script src="/js/game_ghost.js"></script>
{% endblock %}