{% extends "layouts/master.twig" %}

{% block content %}
    <form method="POST">
        <input type="text" name="id">
        <button type="submit">dza</button>
    </form>
{% endblock %}
{% block scripts %}
<script>
   
    let socket = io();
    
</script>
{% endblock %}