{% extends "layouts/master.twig" %}

{% block bodyClass %}login{% endblock %}

{% block content %}
    <div class="login">
      <img class="logo" src="/images/mysterium.png">
      <h2 class="login-header">Connexion</h2>
      <form class="login-form" method="post" action="/login">
        <div class="form-group">
          <label>Nom d'utilisateur</label>
          <input type="text" class="form-control" name="username" placeholder="Nom d'utilisateur">
        </div>
        <div class="form-group">
          <label>Mot de passe</label>
          <input type="password" class="form-control" name="password" placeholder="Mot de passe">
        </div>
        <button type="submit" class="btn">Se connecter</button>
      </form>
      
        <div class="login-btns">
            <a href="/register">Creer un compte</a>
        </div>
    </div>
{% endblock %}

{% block scripts %}
{% endblock %}