{% extends "layouts/master.twig" %}

{% block content %}
    <div class="profile">
        <div class="profile_header">
            <img src="/images/mysterium.png" />
            <h1>Bienvenue sur le jeu {{ user.username }} </h1>  
        </div>
        
        <div class="profile_content">
            <a href="/">Rejoindre la partie</a>
        </div>

        <div class="profile_bottom">
            <form method="post">
                <input type="submit" value="Supprimer le compte">
            </form>  
        </div>

    </div>

{% endblock %}

{% block scripts %}
{% endblock %}