{% extends "layouts/master.twig" %}

{% block content %}

	<div class="register">

		<h2 class="register-header">Inscription</h2>
		{% if user %}
			<div class="alert alert-danger">Ce nom d'utilisateur est déjà pris.</div> 
		{% endif %}
		<form class="register-form" method="post" action="/register">
			<div class="form-group">
				<label>Nom d'utilisateur</label>
				<input type="text" class="form-control" placeholder="Nom d'utilisateur" name="username">
			</div>
			<div class="form-group">
				<label>Mot de passe</label>
				<input type="password" class="form-control" placeholder="Mot de passe" name="password">
			</div>
			<div class="form-group">
				<label>Mot de passe</label>
				<input type="password" class="form-control" placeholder="Mot de passe" name="password2">
			</div>
			<button type="submit" class="btn btn-default">Inscription</button>
		</form>

	</div>

{% endblock %}

{% block scripts %}
{% endblock %}