{% extends "layouts/master.twig" %}

{% block content %}
    <ul>
        {% for player in players %}
            <li style="color:{% if player.id == me %}red{% else %}white{% endif %}">{{ player.name }} | {{ player.ready ? "pret" : "pas pret" }}

            </li>
        {% endfor %}
    </ul>
    <div id="chat">
            <ul id="msg_box"> 
            </ul>
            <form id="msg_form" method="" action="/">
                <input id="msg_writing" autocomplete="off"><button id="send">send</button>
            </form>
    </div>
{% endblock %}
{% block scripts %}
<script src="../../game/chat.js" type="text/javascript"></script>
<script>
    let socket = io();

    socket.on('reload', function(){
        location.reload();
    });
    socket.on('allIsReady', function(){
        location.href = '/game';
    })
</script>
{% endblock %}