{% extends "layouts/master.twig" %}

{% block content %}
    <ul>
        {% for player in players %}
            <li style="color:white">{{ player.id }} | {{ player.ready ? "pret" : "pas pret" }}
                <form method="post">
                    <input type="hidden" name="id" value="{{ player.id }}">
                    <input type="submit" value="se mettre pret">
                </form>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
{% block scripts %}
<script>
    let socket = io();
    socket.on('reload', function(){
        location.reload();
    });
    socket.on('allIsReady', function(){
        location.href = '/game';
    })
</script>
{% endblock %}