{% extends "layouts/master.twig" %}
{% block bodyClass %}salon{% endblock %}
{% block content %}
    <ul>
        {% for player in players %}
            <li style="color:{% if player.username == user.username %}red{% else %}white{% endif %}">
                {{ player.username }} | {{ player.ready ? "pret" : "pas pret" }}
            </li>
        {% endfor %}
    </ul>

    <form method="post">
        <input type="hidden" name="username" value="{{ user.username }}">
        <input type="submit" value="se mettre pret">
    </form>
{% include 'partials/chat.twig' %}
{% endblock %}
{% block scripts %}
<script>var username = "{{user.username}}"</script>
<script src="/js/client_chat.js"></script>
<script>
    let gameSocket = io('/game');
    
    gameSocket.on('reload', function(){
        window.location.reload();
    });

    gameSocket.on('start', function(){
        window.location.href = '/game';
    });
</script>
{% endblock %}