<div id="chat">
    <button id="hideChat" >Tchat</button>
    <div id="chat_box">
        <ul id="msg_box"> 
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
        <form id="msg_form" method="" action="/">
            <input id="msg_writing" autocomplete="off"><button id="send">send</button>
        </form>
    </div>
</div>