<form id="form_final" method="post">        
    <div class="final_scenarios">
        {% for scenario in scenarios %}
            <div class="final_scenarios_item">
                <img src="/images/cards/{{ scenario.perso }}.png" />
                <img src="/images/cards/{{ scenario.lieu }}.png" />
                <img src="/images/cards/{{ scenario.arme }}.png" />
                <input type="radio" name="scenario" value="{{ scenarios.indexOf(scenario) }}">
            </div>
        {% endfor %}
    </div>
    <button type="submit">Choisir</button>
</form>