<div class="final_scenario_ghost">
    <img src="/images/cards/{{ scenario.perso }}.png" />
    <img src="/images/cards/{{ scenario.lieu  }}.png" />
    <img src="/images/cards/{{ scenario.arme  }}.png" />
</div>