 {% if infos.type == "ghost" %}
    <form id="hand_form">
        {% for card in infos.hand %}
            <div class="cards_hand_list_item">
                <input class="box" type="checkbox" value="{{card}}" name="cards_hand"/>
                <img src="/images/cards/{{card}}.png">
            </div>
        {% endfor %}
        <button type="submit" class="cards_hand_list_item">
            <img src="/images/check.svg">
        </button>
    </form>
{% endif %}

{% if infos.type == "medium" %}
    {% for card in me.visions %}
        <div class="cards_hand_list_item">
            <img src="/images/cards/{{card}}.png">
        </div>
    {% endfor %}
{% endif %}